button{
    margin-left: 10px;
}

.controllers:not(.second-button){
    box-shadow: 2px 3px 10px rgb(110, 110, 110);
    font-size: 1rem;
    padding: 0.5em 1em 0.5em 0.75em;
    margin: 0 10px 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(108 108 108);
    color: white;
}

.controllers:hover:not(.input-month){
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
   cursor: pointer;
}

.first-button:hover, .second-button:hover {
    background-color: rgb(48, 48, 48);
}

.second-button{
    box-shadow: 2px 3px 10px rgb(110, 110, 110);
    font-size: 1rem;
    padding: 0.5em 2em 0.5em 2em;
    margin: 0 100px 30px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(108 108 108);
    color: white;
}