body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /* background-color: rgb(77, 22, 32); */
}

/* .full-map {
  overflow-y: hidden;
} */

/* .container {
  font-size: 3rem;
  margin: auto;
  max-width: 1000px;
} */
.mapheader {
  width: 260px;
  background-color: blueviolet;
}

.rotate {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.rotate.down {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
